<h1 class="form_title">Add your investment</h1>
<form (ngSubmit)="onSubmit()">
  <label for="initialInvestment">Initial investment:</label>
  <input type="number" id="initialInvestment" [(ngModel)]="investment.initialInvestment" name="initialInvestment" required>

  <label for="annualInvestment">Annual Investment:</label>
  <input type="number" id="annualInvestment" [(ngModel)]="investment.annualInvestment" name="annualInvestment" required>

  <label for="expectedReturn">Expected Return (%):</label>
  <input type="number" id="expectedReturn" [(ngModel)]="investment.expectedReturn" name="expectedReturn" required>

  <label for="duration">duration (year):</label>
  <input type="number" id="duration" [(ngModel)]="investment.duration" name="duration" required>

  <button type="submit">Add</button>
</form>