<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="w-full max-w-xs">
      <form
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
        (ngSubmit)="onSubmit()"
      >
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="username"
          >
            Username
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            name="username"
            type="text"
            placeholder="Username"
            required
            #username="ngModel"
            [(ngModel)]="loginData.username"
          />
        </div>
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="password"
            name="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            required
            #password="ngModel"
            [(ngModel)]="loginData.password"
          />
          <div class="mb-6 flex items-center my-5">
            <input
              type="checkbox"
              id="showPassword"
              class="mr-2 cursor-pointer"
              (click)="togglePassword()"
            />
            <label for="showPassword" class="text-gray-700 text-sm cursor-pointer"
              >Show Password</label
            >
          </div>
        </div>
  
        <!-- Flex container to center submit button and forgot password -->
        <div class="flex flex-col items-center">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-4"
            type="submit"
          >
            Sign In
          </button>
  
          <a
            class="inline-block font-bold text-sm text-blue-500 hover:text-blue-800"
            href=""
          >
            Forgot Password?
          </a>
          <a
            class="inline-block font-bold text-sm text-gray-400 hover:text-gray-700"
            href="/register" routerLinkActive="router-link-active" 
          >
            Don't have an acount? Sign up!
          </a>
        </div>
  
        <!-- ERROR MESSAGE -->
        @if (errorMessage) {
        <div class="mb-4 my-7 text-red-500 text-sm text-center">
          {{ errorMessage }}
        </div>
        }
      </form>
      <p class="text-center text-gray-500 text-xs">
        &copy;2025 Rijad Corp. All rights reserved.
      </p>
    </div>
  </div>
  