nav {
  background-color: #34495e;
  padding: 15px 30px;
  font-family: "Arial", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
  align-items: right;
}

ul li {
  margin: 0 20px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

ul li a.active {
  color: #1abc9c;
  font-weight: bold;
}

ul li a:hover {
  color: #1abc9c;
  transform: scale(1.1);
}
